body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
font-family: 'Indie Flower', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Mina', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
*/
@media (max-width: 768px) {
	.row {font-size: 0.8em;}
}

@media (min-width: 768px) {
	.row {font-size:1em;}
}

@media (min-width: 992px) {
	.row {font-size: 1.2em;}
}
.row {
	font-family: 'PT Sans Narrow', sans-serif;
}
.navbar-brand p {
	padding: 5px;
}
.navbar-brand p:hover {
	background-color: black;
	padding: 5px;
	color: aliceblue;
}
footer {
	text-align: justify;
	padding-bottom: 40px;
	background-color: rgba(33,33,33,0.2);
	padding-top: 40px;
	color: black;
}