<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no shrink-to-fit=no viewport-fit=cover">
		<!-- Name of web application (only should be used if the website is used as an app)-->
		<meta name="application-name" content="FSTGAT_GAG">
		<!-- Theme Color for Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="rgb(33,33,33)">
		<!-- Add to home screen -->
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/APP_ID">
		<!-- Disable translation prompt -->
		<meta name="google" content="notranslate">
		<!-- Force IE 8/9/10 to use its latest rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>XXX</title>
		<link rel="icon" type="image/png" href="../img/logo_home.png">
		<meta name="description" content="Cours de la nouvelle plateforme pour les étudiants en Géologie Appliquée - Géotechnique">
		<link rel="stylesheet" type="text/css" href="xxx">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
		<!-- bootstrap cdn 3.3.7 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- js effect scroll-->
		<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
		<!--google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Ubuntu|Mina|Roboto+Condensed|PT+Sans+Narrow" rel="stylesheet">
		<!-- font awesome for icons in bootstrap -->
		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    </head>

    <body>
		<div class="container-fluid">
			<header class="row">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					  </button>
					  <a class="navbar-brand" href="#">FSTGAT_GAG</a>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
					  <ul class="nav navbar-nav">
						  <li><a href="#"><i class="fas fa-university"></i> Accueil</a></li>
						<li class="dropdown">
						  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-book"></i> Cours <span class="caret"></span></a>
						  <ul class="dropdown-menu">
							<li><a href="docs/rns.2.cours.html">Tous les cours</a></li><br>
							<li><a href="#">Mécanique des sols</a></li>
							<li><a href="#">Risques géologiques</a></li>
							<li><a href="#">Géophysique</a></li>
							<li><a href="#">Géologie générale</a></li>
							<li><a href="#">Méthodes de reconnaissances géotechniques</a></li>
							<li><a href="docs/cours/rns.tecto.html">Analyse Structurale</a></li>
						  </ul>
						</li>
						<li><a href="#"><i class="fas fa-graduation-cap"></i> Exercices</a></li>
						<li><a href="#"><i class="fas fa-info-circle"></i> A Propos</a></li>
					  </ul>
					</div>
				  </div>
				</nav>
			</header>
			<div class="row">
				
			</div>
			<footer class="row">
				<div class="col-sm-offset-1 col-sm-4 col-xs-6 text-center">Pour mater le projet, visiter le repository sur <a href="#"><i class="fab fa-github"></i> Github</a>, ou pour signaler un problème ou contacter, envoyer un email sur l'adresse suivante <a><i class="fas fa-at"></i> aitabdelmalekma@gmail.com</a>. Merci pour votre visite !</div>
				<div class="col-sm-7 col-xs-6 text-center">Tous droits réservés <i class="far fa-copyright"></i> 2018, FSTGAT_GAG</div>
			</footer>
		</div>
		<!--js libraries and bootstrap js cdn-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<!-- compiled and minified js for bootstrap 3.3.7 -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>