<div class="row">
	<div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
		<ol class="breadcrumb">
			<li><a href="../../index.html">Accueil</a></li>
			<li><a href="../rns.2.cours.html">Cours</a></li>
			<li class="active">xxxxx</li>
		</ol>
	</div>
</div>
			<div class="row">
				<div class="col-sm-offset-1 col-sm-8 col-md-offset-2 col-md-9 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>Cours: xxx</h3>
							<h4>Pour les étudiants M1 en géotechnique</h4>
							<h5>Sommaire du cours</h5>
						</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#ch1" class="list-group-item"><em>Chapitre 1: </em>xxx</a>
								<a href="#ch2" class="list-group-item"><em>Chapitre 2: </em>xxx</a>
								<a href="#ch3" class="list-group-item"><em>Chapitre 3: </em>xxx</a>
								<a href="#ch4" class="list-group-item"><em>Chapitre 4: </em>xxx</a>
								<a href="#ch5" class="list-group-item"><em>Chapitre 5: </em>xxx</a>
							</div>
						</div>
					</div>
				</div>
			</div>
<div class="row">
	<div class="col-sm-offset-1 col-sm-10 col-xs-12 col-md-offset-2 col-md-8 page-header" id="ch1">
		<h2>Chapitre 1: xxx</h2>
	</div>
	<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 1. Titre un </a></h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">Paragraphr un</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> 2. Titre deux </a></h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">Paragraphe deux</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
					<h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> 3. Titre trois </a></h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">Paragraphe trois</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingFour">
					<h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree"> 4. Titre quatre </a></h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
					<div class="panel-body">Paragraphe quatre</div>
				</div>
			</div>
		</div>
	</div>
</div>