body {
    width: 100%;
    height: 100%;
 	margin:0;
 	padding: 0;
}
/*
font-family: 'Indie Flower', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Mina', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
*/
@media (max-width: 768px) {
	.row {font-size: 0.8em;}
}

@media (min-width: 768px) {
	.row {font-size:1em;}
}

@media (min-width: 992px) {
	.row {font-size: 1.2em;}
}
.row {
	font-family: 'PT Sans Narrow', sans-serif;
}
.navbar-brand p {
	padding: 5px;
	margin: auto;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
}
.navbar-brand p:hover {
	background-color: black;
	padding: 5px;
	color: aliceblue;
}
.dropdown-menu li {
	padding: 5px;
	border-radius: 20px;
}
.jumbotron h1 {
	font-weight: 900;
	display: inline;
	font-family: "Times new roman", serif;
}
.jumbotron h1:hover {
	color: whitesmoke;
	background-color: black;
}
.nb {
	padding: 20px;
	position: relative;
	bottom: 25px;
	background-color: red;
	color: whitesmoke;
	font-weight: 900;
	font-size: 1.2em;
	font-family: 'Ubuntu', sans-serif;
	cursor: pointer;
}
div img {
	border-radius: 20px;
}
.img-responsive {
	border: 0;
	width: 80%;
	opacity: 0.8;
}
footer {
	text-align: justify;
	padding-bottom: 40px;
	background-color: rgba(33,33,33,0.2);
	padding-top: 40px;
	color: black;
}